# prod ìš© Spring Profile
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      minimum-idle: 2
      maximum-pool-size: 3
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    validate-migration-naming: true
    schemas: payment
    default-schema: payment
server:
  port: 3003

logging:
  level:
    root: info