name: Pull Request Workflow (develop)

on:
  pull_request:
    branches:
      - develop

jobs:
  pull_request_develop_build_services:
    runs-on: ubuntu-latest
    steps:
      # 코드 체크아웃
      - name: Check out repository
        uses: actions/checkout@v4

      # JDK 설정
      - name: Setup JDK 19
        uses: actions/setup-java@v4
        with:
          java-version: '19'
          distribution: 'temurin'

      # 모듈 전체 빌드
      - name: Services Build
        uses: ./.github/actions/build-all

      # 각 모듈 빌드
      - name: Service auth build
        uses: ./.github/actions/build
        with:
          target: auth
      - name: Service content build
        uses: ./.github/actions/build
        with:
          target: content
      - name: Service user build
        uses: ./.github/actions/build
        with:
          target: user
      - name: Service gateway build
        uses: ./.github/actions/build
        with:
          target: gateway