name: Pull Request Workflow (develop)

on:
  pull_request:
    branches:
      - develop

jobs:
  PR_develop_build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [ auth, content, gateway, payment, user ]

    steps:
      # 코드 체크아웃
      - name: Check out repository
        uses: actions/checkout@v5

      # 각 서비스 변경사항 추적
      - name: Get changed files
        id: changed
        uses: tj-actions/changed-files@v47
        with:
          files: '${{matrix.service}}/**'

      # JDK 설정
      - name: Setup JDK 19
        if: steps.changed.outputs.any_changed == 'true'
        uses: actions/setup-java@v4
        with:
          java-version: '19'
          distribution: 'temurin'

      # 변경사항 존재 시 빌드
      - name: Service ${{matrix.service}} build
        if: steps.changed.outputs.any_changed == 'true'
        uses: ./.github/actions/build
        with:
          target: ${{matrix.service}}