name: Pull Request Workflow (master)

on:
  pull_request:
    branches:
      - master

jobs:
  pull-request-master:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [ auth, content, gateway, payment, user ]

    steps:
      # 코드 체크아웃
      - name: Check out repository
        uses: actions/checkout@v5

      # 외부 private secrets store 접근
      - name: Check out Secrets store
        uses: actions/checkout@v5
        with:
          repository: 'dev-montyoh/secrets-store'
          token: ${{ secrets.SECRETS_STORE_ACCESS_TOKEN }}
          path: secrets-store

      # 외부 private secrets store 로드
      - name: Load secrets
        uses: ./secrets-store/.github/actions/load-secrets
        with:
          SECRETS_STORE_ACCESS_TOKEN: ${{ secrets.SECRETS_STORE_ACCESS_TOKEN }}

      # Github Registry 로그인
      - name: Log in to Github Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ env.DOCKER_REGISTRY_ACCESS_TOKEN }}

      # 각 서비스 변경사항 추적
      - name: Get changed files
        id: changed
        uses: tj-actions/changed-files@v47
        with:
          files: '${{matrix.service}}/**'

      # JDK 설정
      - name: Setup JDK 19
        if: steps.changed.outputs.any_changed == 'true'
        uses: actions/setup-java@v5
        with:
          java-version: '19'
          distribution: 'temurin'

      # Gradle 캐시 설정
      - name: Setup Gradle Cache
        if: steps.changed.outputs.any_changed == 'true'
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      #      # 각 모듈 패키징 작업
      #      - name: Service ${{matrix.service}} package
      #        if: steps.changed.outputs.any_changed == 'true'
      #        uses: ./.github/actions/package
      #        with:
      #          target: ${{matrix.service}}
      #
      #      # 각 모듈 Docker 이미지 생성 및 Github Registry 배포
      #      - name: Service ${{matrix.service}} docker image upload
      #        if: steps.changed.outputs.any_changed == 'true'
      #        uses: ./.github/actions/package_push
      #        with:
      #          target: ${{matrix.service}}

      # 애플리케이션 빌드
      - name: Service ${{matrix.service}} Gradle build jar
        if: steps.changed.outputs.any_changed == 'true'
        run: |
          cd ${{matrix.service}}
          ./gradlew bootJar

      # Docker Image Build
      - name: Service ${{matrix.service}} Build Docker Image
        if: steps.changed.outputs.any_changed == 'true'
        run: |
          cd .github/docker
          ./package.sh ${{ inputs.target }} master ${{ github.run_number }} ${{ github.repository_owner }}

      # Docker Push
      - name: Deploy
        if: steps.changed.outputs.any_changed == 'true'
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/backend-api-server-${{matrix.service}}:latest
          docker push ghcr.io/${{ github.repository_owner }}/backend-api-server-${{matrix.service}}:${{ github.run_number }}