name: Push Workflow (develop)

on:
  push:
    branches:
      - develop

jobs:
  push_develop_pacakging:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [ auth, content, gateway, payment, user ]

    steps:
      # 코드 체크아웃
      - name: Check out repository
        uses: actions/checkout@v4

      # 각 서비스 변경사항 추적
      - name: Get changed files
        id: changed
        uses: tj-actions/changed-files@v44
        with:
          files: '${{matrix.service}}/**'

      # Github Registry 로그인
      - name: Log in to Github Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_REGISTRY_ACCESS_TOKEN }}

      # JDK 설정
      - name: Setup JDK 19
        if: steps.changed.outputs.any_changed == 'true'
        uses: actions/setup-java@v4
        with:
          java-version: '19'
          distribution: 'temurin'

      # Gradle 캐시 설정
      - name: Setup Gradle Cache
        if: steps.changed.outputs.any_changed == 'true'
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      # 각 모듈 패키징 작업
      - name: Service auth package
        if: steps.changed.outputs.any_changed == 'true'
        uses: ./.github/actions/package
        with:
          target: ${{matrix.service}}

      # 각 모듈 Docker 이미지 생성 및 Github Registry 배포
      - name: Service auth Deploy
        if: steps.changed.outputs.any_changed == 'true'
        uses: ./.github/actions/deploy
        with:
          target: ${{matrix.service}}

      # TODO: EC2 접근 후 각 서비스 업데이트