name: Push Workflow (develop)

on:
  push:
    branches:
      - develop

jobs:
  push_develop_package_services:
    runs-on: ubuntu-latest
    steps:
      # 코드 체크아웃
      - name: Check out repository
        uses: actions/checkout@v4

      # JDK 설정
      - name: Setup JDK 19
        uses: actions/setup-java@v4
        with:
          java-version: '19'
          distribution: 'temurin'

      # Gradle 캐시 설정
      - name: Setup Gradle Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      # 각 모듈 패키징 작업
      - name: Service auth package
        uses: ./.github/actions/package
        with:
          target: auth

